@font-face {
  font-family: rainbow;
  src:url('../font/Rainbow.ttf');
}

body {
  background-image: url('https://preview.redd.it/8k8ecxx4d2t21.jpg?width=640&crop=smart&auto=webp&s=20e473d71f7a05d2a951252a3e9c3eb2a9c3d3d7');
  background-repeat: repeat;
  background-attachment:fixed;
  margin: 0;
}

.header-container {
  background-color: black;
  height: 100px;
  text-align: center;
}

.header-title {
  color: white;
  font-family: 'rainbow', cursive;
  font-size: 70px;
  padding-top: 20px;
}

.image-div {
  margin: 50px auto 30px auto;
  background-color: darkred;
  width: 400px;
  height: 400px;
  text-align: center;
}

.img {
  height: 300px;
  margin-top: 50px;
}

.buttons-div {
  margin: auto;
  width: 60%;
  text-align: center;
}

.button {
  background-color: darkred;
  color: white;
  font-family: 'rainbow', cursive;
  letter-spacing: 1px;
  width: 150px;
  height: 60px;
  font-size: 30px;
  border: 2px solid white;
  margin-left: 20px;
  margin-right: 20px;
}

/* ALBUMS PAGE */

.section-header {
  background-color: darkred;
  height: 60px;
  width: 25%;
  text-align: center;
  margin: 20px auto 20px auto;
  color: white;
  font-family: 'rainbow', cursive;
  font-size: 50px;
  padding-top: 25px;
}